<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <td><strong><%= form.label :name, "List Name" %></strong></td>
        <td><strong><%= form.label :use_timeframe, "Uses Trimeframes" %></strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong><%= form.text_field :name %></strong></td>
        <td><strong><%= form.check_box :use_timeframe %></strong></td>
        <td><%= form.submit %></td>
        <% if !@list.new_record? %>
          <td><%= button_to 'Delete List', @list, options = { method: :delete, data: { confirm: 'Are you sure?' } } %></td>
        <% end %>
        </tr>
    </tbody>
  </table>

<% end %>
