<p id="notice"><%= notice %></p>

<h2><%= link_to @list.name, edit_list_path(@list) %></h2>

<table>
  <% @tasks.each do |task| %>
    <tr>
      <%= render 'layouts/task', task: task %>
    </tr>
  <% end %>
    <tr><td colspan=4><%= link_to 'New Task', new_list_task_path(@list) %></td></tr>
</table>

<%= link_to 'Back', root_path %>
