<h2><%= link_to @list.name, edit_list_path(@list) %></h2>

<% if !@other_users.blank? %>
  (SHARED WITH: <%= @other_users %>)
<% end %>

<table>
  <%= render @list.tasks %>
</table>

<%= button_to 'New Task', new_list_task_path(@list), options = { method: :get } %>

<h4><%= link_to '<< Back', root_path %></h4>
