<p id="notice"><%= notice %></p>

<h2><%= link_to @list.name, edit_list_path(@list) %></h2>

<table>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.done ? 'X' : 'O' %></td>
      <td><%= task.priority %></td>
      <td><%= task.name %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
    <tr><td colspan=4><%= link_to 'New Task', new_list_task_path(@list) %></td></tr>
</table>

<%= link_to 'Back', root_path %>
