<%= form_with(model: @task, url: @task.new_record? ? [@list, @task] : @task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <td><%= form.label :done %></td>
        <td><%= form.label :priority %></td>
        <td><%= form.label :name %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.check_box :done %></td>
        <td><%= form.number_field :priority, style: "width: 50px" %></td>
        <td><%= form.text_field :name %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
