<%= form_with(model: @task, url: @task.new_record? ? [@list, @task] : @task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>List = <%= @list.name %></h2>

  <table>
    <thead>
      <tr>
        <td><strong><%= form.label :done %></strong></td>
        <td><strong><%= form.label :priority %></strong></td>
        <td><strong><%= form.label :name, "Task" %></strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.check_box :done %></td>
        <td><%= form.number_field :priority, options = { style: "width: 50px" } %></td>
        <td><%= form.text_field :name %></td>
        <td><%= form.submit %></td>
      </tr>
    </tbody>
  </table>

<% end %>
