<%# _task Partial is meant to be rendered within a table so that each task is a <tr> row.  %>
<%# Set :show_list_name=true if you want the optional first cell showing the list's name.  %>

<tr>
  <% if local_assigns.has_key? :show_list_name %>
    <td><%= task.list.name %></td>
  <% end %>
  <td><input type="checkbox" <%= task.done? ? "checked" : "" %> onclick="myFunction()"></td>
  <td><%= task.priority %></td>
  <td><%= task.name %></td>
  <td><%= button_to 'Edit', edit_task_path(task), options = { method: :get } %></td>
  <td><%= button_to 'X', task, options = { method: :delete, data: { confirm: 'Are you sure?' } } %></td>
</tr>
