<p id="notice"><%= notice %></p>

<h2>List = <%= @task.list.name %></h2>

<table>
  <thead>
    <tr>
      <td><strong>Done</strong></td>
      <td><strong>Priority</strong></td>
      <td><strong>Task</strong></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.done ? 'X' : 'O' %></td>
      <td><%= @task.priority %></td>
      <td><%= @task.name %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', list_path(@task.list) %>
