<% @lists.each do |list| %>
  <h2><%= link_to list.name, list_path(list) %></h2>
  <% if !@other_users_per_list[list.id].blank? %>
    (SHARED WITH: <%= @other_users_per_list[list.id] %>)
  <% end %>


  <table>
    <%= render list.tasks %>
  </table>

  <%= button_to 'New Task', new_list_task_path(list), options = { method: :get } %>

  <hr/>
<% end %>

<%= button_to 'New List', new_list_path, options = { method: :get } %>
