<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag('check.png', size: '47', class: 'icon', alt: 'ToDo') %>
      <%= content_tag(:span, "Devin's ToDos", class: 'title') %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "About",  'about' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
