<td><input type="checkbox" <%= task.done? ? "checked" : "" %> onclick="myFunction()"></td>
<td><%= task.priority %></td>
<td><%= task.name %></td>
<td><%= link_to 'Edit', edit_task_path(task) %></td>
<td><%= button_to 'X', task, options = { method: :delete, data: { confirm: 'Are you sure?' } } %></td>
