<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('check.ico'), :rel => 'icon', :type =>  'image/x-icon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">

      <% flash.each do |message_type, message| %>
        <% if message_type == 'notice' then message_type = 'success' end %>
        <% if message_type == 'alert' then message_type = 'danger' end %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
      <%= debug(flash) if Rails.env.development? %>
      <%= debug(cookies[:user_id]) if Rails.env.development? %>

    </div>

  </body>

</html>
