<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('check.ico'), :rel => 'icon', :type =>  'image/x-icon' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= content_tag(:div, '', class: 'header') do %>
      <%= image_tag 'check.png', size: '47', class: 'icon', alt: 'ToDo' %>
      <%= content_tag(:span, '', class: 'login') do %>
        Login
      <% end %>
    <% end %>

    <%= content_tag(:div, '', class: 'clear_both') %>

    <%= yield %>

  </body>
</html>
